control==0.8.4
cvxopt==1.2.5
cycler==0.10.0
Cython==0.29.16
Keras==2.3.1
matplotlib==3.3.0
numpy==1.19.1
pandas==1.0.3
POT==0.7.0
pygsvd==0.0.2
SciencePlots==1.0.7
scikit-learn==0.24.1
scipy==1.5.2
seaborn==0.10.0
statsmodels==0.11.1
sympy==1.7.1
tensorboard==1.15.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
tqdm==4.46.0
